<!DOCTYPE html>
<html lang="en">

<body class="container">



<main>
    <h2>Admin</h2>
    <h3>Add Item</h3>
    <form action="/images" method="post" enctype="multipart/form-data">
        Name : <input type="text" name="name"><br>
        Description: <input type="text" name="description"><br>
        Image: <input type="file" id="image" name="image">
        <input type="submit" value="Add Item" name="addItem">
    </form>
   
</main>



</body>
</html>